@use 'variables' as *;

.container {
	max-width: $dashboard-max-width;
	padding: $spacing-lg;
}

.topRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: $spacing-md;
}

.periods {
	display: flex;
	justify-content: space-around;
	gap: $spacing-sm;
}

.periodBtn {
	padding: 8px 12px;
	border-radius: 8px;
	background: var(--color-bg);
	border: 1px solid var(--color-border);
	color: var(--color-text-primary);
	cursor: pointer;

	&.active {
		background: var(--color-primary);
		color: var(--color-text-primary);
		border-color: var(--color-primary);

		&:hover {
			background: var(--color-primary);
		}
	}
}

.chartBlock {
	margin-top: $spacing-xl;
}

.filtersBlock {
	margin-top: $spacing-xl;
}

.sideCards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: $spacing-lg;
	margin-top: $spacing-md;
}

.sideCardsSkeleton {
	grid-column: 1 / -1;
}

.topLinksBlock {
	margin: $spacing-xl 0;
}

.topLinksContent {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: $spacing-lg;
	width: 100%;
}

.sideCards > .topLinksContent {
	grid-column: 1 / -1;
}

.topLinksBlock > .topLinksContent {
	grid-template-columns: minmax(0, 1fr);
}
