@use 'variables' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	gap: $spacing-lg;

	@media (max-width: $breakpoint-md) {
		gap: $spacing-md;
	}

	@media (max-width: 320px) {
		gap: $spacing-sm;
	}
}
