@use 'variables' as *;
@use '../AuthShared.module.scss' as *;

.iconWrapper {
	width: 64px;
	height: 64px;
	background: rgba($color-primary, 0.1);
	color: $color-primary;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto $spacing-xl;
}

.actions {
	display: flex;
	flex-direction: column;
	gap: $spacing-lg;
}

.submitBtn {
	display: block;
	width: 100%;
	& > button {
		width: 100%;
	}
}
