@use 'variables' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	gap: $spacing-md;
}

.card {
	background-color: var(--color-bg);
	border: 1px solid var(--color-border);
	border-radius: $border-radius-xl;
	height: 137px;
	padding: $spacing-lg;
	display: flex;
	flex-direction: row;
	gap: $spacing-lg;

	@media (min-width: $breakpoint-lg) {
		flex-direction: row;
		align-items: center;
	}

	@media (max-width: $breakpoint-lg) {
		height: 100%;
		flex-direction: column;
		align-items: normal;
		padding: $spacing-md;
		gap: $spacing-md;
	}

	@media (max-width: 320px) {
		padding: $spacing-sm;
	}
}

.info {
	display: flex;
	flex-direction: column;
	gap: $spacing-sm;
	flex: 1;

	.infoHeader {
		display: flex;
		margin-bottom: $spacing-sm;
	}

	.infoBody {
		display: flex;
		flex-wrap: wrap;
		gap: $spacing-sm;
	}
}

.title,
.badge,
.shortUrl,
.destination {
	height: 28px;
}

.title {
	width: 220px;
}

.badge {
	width: 88px;
	margin-left: $spacing-md;
}

.shortUrl {
	width: 130px;
}

.destination {
	width: 30%;
	margin-left: $spacing-md;

	@media (max-width: $breakpoint-md) {
		width: min(240px, 70%);
		margin-left: 0;
	}
}

.actions {
	display: flex;
	gap: $spacing-sm;

	@media (max-width: $breakpoint-sm) {
		flex-wrap: wrap;
	}
}

.actionBtn {
	width: 130px;
	height: 40px;
	border-radius: 12;

	@media (max-width: $breakpoint-sm) {
		width: 48%;
	}

	@media (max-width: $breakpoint-xs) {
		width: 100%;
	}
}

.tabs {
	display: flex;
	gap: $spacing-md;
	margin-top: $spacing-xl;

	@media (max-width: $breakpoint-md) {
		overflow-x: auto;
		white-space: nowrap;
		margin-top: $spacing-md;
	}
}

.tab {
	padding: $spacing-sm;
	width: 132px;
	height: 34px;
	border: 1px solid var(--color-border);
	background: var(--color-bg-secondary);
	border-radius: $border-radius-lg;

	& > div {
		margin: 0 auto;
	}
}
