@use 'variables' as *;

.statsGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: $spacing-md;
}

.statsCard,
.chartCard,
.sideCard {
	padding: $spacing-lg;
	background: $color-bg-light;
	border: 1px solid $color-border;
	border-radius: $border-radius-xl;
}

.statsCard {
	height: max-content;
}

.statCardHeader {
	display: flex;
	justify-content: space-between;
	margin-bottom: $spacing-lg;
}

.statCardTitle {
	margin-bottom: $spacing-sm;
}

.chartCard {
	height: 460px;
}

.chartCardHeader {
	display: flex;
	justify-content: space-between;
}

.chartCardTitle {
	margin-bottom: $spacing-sm;
}

.chartContent {
	margin-top: $spacing-md;
	width: 100%;
	height: 280px;
	border-radius: $border-radius-xl;
}

.chartContentDetails {
	display: flex;
	margin-top: $spacing-md;
	gap: $spacing-md;
}

.sideCharts {
	display: flex;
	gap: $spacing-lg;
}

.sideCard {
	flex: 1;
	height: 260px;
}

.sideCardContent {
	width: 100%;
	margin-top: $spacing-lg;

	& > div:not(:last-child) {
		margin-bottom: $spacing-sm;
	}
}

.tableSkeleton {
	min-height: 380px;
}

@media (max-width: $breakpoint-lg) {
	.statsGrid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (max-width: $breakpoint-md) {
	.sideCharts {
		flex-direction: column;
	}
}
