@use 'sass:color';
@use 'variables' as *;

.content {
	padding: $spacing-md $spacing-lg;

	@media (max-width: $breakpoint-md) {
		padding: $spacing-md;
	}

	@media (max-width: $breakpoint-sm) {
		padding: $spacing-sm;
	}
}
