@use 'variables' as *;

.root {
	display: flex;
	flex-direction: column;
	gap: $spacing-lg;

	@media (max-width: $breakpoint-xs) {
		gap: $spacing-md;
	}
}

.topGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: $spacing-md;

	@media (max-width: $breakpoint-md) {
		grid-template-columns: 1fr;
	}

	@media (max-width: $breakpoint-xs) {
		gap: $spacing-sm;
	}
}

.card {
	border: 1px solid var(--color-border);
	border-radius: $border-radius-lg;
	padding: $spacing-md;
	display: flex;
	flex-direction: column;
	gap: $spacing-md;

	@media (max-width: $breakpoint-xs) {
		padding: $spacing-sm;
		gap: $spacing-sm;
	}

	.cardHeader {
		display: flex;
		justify-content: space-between;
		.cardHeaderLeft {
			display: flex;
			flex-direction: column;
			gap: $spacing-md;
		}
	}
}

.metric {
	display: flex;
	flex-direction: column;
	gap: $spacing-xs;

	.metricHeader {
		display: flex;
		justify-content: space-between;

		@media (max-width: $breakpoint-sm) {
			flex-direction: column;
			gap: $spacing-xs;
		}
	}
}

.history {
	border: 1px solid var(--color-border);
	border-radius: $border-radius-lg;
	padding: $spacing-md;
	display: flex;
	flex-direction: column;
	gap: $spacing-md;

	@media (max-width: $breakpoint-xs) {
		padding: $spacing-sm;
		gap: $spacing-sm;
	}
}

@media (max-width: $breakpoint-sm) {
	.topGrid {
		grid-template-columns: 1fr;
	}
}
