@use 'variables' as *;

.skeleton {
	background: linear-gradient(
		90deg,
		$color-bg-dark 0%,
		$color-secondary 50%,
		$color-bg-dark 100%
	);
	background-size: 220% 100%;
	animation: skeletonShimmer 1.2s ease-in-out infinite;
}

.rect {
	border-radius: $border-radius-md;
}

.text {
	border-radius: 50%;
	height: 12px;
}

.circle {
	border-radius: 50%;
}

@keyframes skeletonShimmer {
	0% {
		background-position: 100% 0;
	}
	100% {
		background-position: -100% 0;
	}
}
