@import '../../styles/variables';
@import '../../components/auth/AuthShared.module.scss';

.form {
	display: flex;
	flex-direction: column;
	gap: $spacing-lg;
}

.forgotLink {
	font-size: $font-size-xs;
	color: $color-primary;
	text-decoration: none;
	font-weight: $font-weight-medium;

	&:hover {
		text-decoration: underline;
	}
}

.rememberRow {
	display: flex;
	align-items: center;
	gap: $spacing-sm;
}

.rememberLabel {
	font-size: $font-size-sm;
	color: $color-text-primary;
	cursor: pointer;
}

.signupLink {
	color: $color-primary;
	text-decoration: none;
	font-weight: $font-weight-medium;

	&:hover {
		text-decoration: underline;
	}
}
