@use 'variables' as *;
@use '../AuthShared.module.scss' as *;

.forgotLink {
	font-size: $font-size-xs;
	color: var(--color-primary);
	text-decoration: none;
	font-weight: $font-weight-medium;

	&:hover {
		text-decoration: underline;
	}
}

.rememberLabel {
	font-size: $font-size-sm;
	color: var(--color-text-primary);
	cursor: pointer;
}
