@use 'variables' as *;

.tableRow {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	border-bottom: 1px solid $color-border;

	&:last-child {
		border-bottom: none;
	}

	@media (max-width: $breakpoint-md) {
		grid-template-columns: 1.5fr 1fr 1fr 1fr;
	}
}

.tableCell {
	padding: $spacing-lg $spacing-xl;
	font-size: $font-size-sm;
	color: $color-text-primary;
	display: flex;
	align-items: center;

	&.featureName {
		font-weight: $font-weight-medium;
	}

	&.highlight {
		color: $color-primary;
		font-weight: $font-weight-medium;
	}

	&.center {
		justify-content: center;
	}

	@media (max-width: $breakpoint-md) {
		padding: $spacing-md;
		font-size: $font-size-xs;
	}
}
