@use 'variables' as *;
@use '../AuthShared.module.scss' as *;

.checkbox {
	width: 16px;
	height: 16px;
	accent-color: $color-primary;
	cursor: pointer;
	margin-top: 2px;
	flex-shrink: 0;
}

.termsLabel {
	font-size: $font-size-sm;
	color: $color-text-secondary;
	cursor: pointer;
	line-height: 1.5;
}
