@use 'variables' as *;

.formWrapper {
	& > div {
		margin-bottom: $spacing-md;
	}
}

.strengthRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: $spacing-sm;
}
